.navbar-wrapper {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.navbar {
  width: 90%;
  max-width: 1200px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 85px;
  height: 55px;
  object-fit: contain;
}

.title {
  font-size: 23px;
  font-weight: bold;
  color: #000;
}

.right-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}

.link.active {
  color: #0077ff;
  font-weight: 700;
  border-bottom: 3px solid #0077ff;
}

.login-button {
  background: #0077ff;
  color: white;
  padding: 8px 22px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.user-name {
  color: #000;
  font-weight: 500;
}

.user-icon {
  font-size: 26px;
}
